/* Material card style from https://codepen.io/sdthornton/pen/wBZdXq */

.Property {
  position: relative;

  margin: 20px 0;
  width: 320px;
  
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.Property-hover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.33);
  opacity: 0;
  transition: 0.33s ease;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Property:hover > .Property-hover {
  opacity: 1;
}

.Property-image {
  width: 100%;
}

.Property-price {
  font-size: 26px;
  text-align: right;
  padding: 10px 20px;
}

.AgencyBanner {
  height: 32px;
}